.section-indicator{
    left: 20px;
    position: fixed;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    gap: 15px;
}

.bar{
    width: 8px;
    height: 8px;
    border: 1px solid #797979;
    border-radius: 20px;
    transition: .3s;
}

.bar-active{
    background-color: #797979;
}

.section-indicator-white{
    .bar{
        border: 1px solid white;
    }
    .bar-active{
        background-color: white;
    }
}