html {
    overflow: hidden;
}

.gallery-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gallery-word {
    margin: 25px 0px;
    font-family: KGBrokenVesselsSketch;
    font-size: 60px;
}

.gallery-header {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px;
    width: 90%;
    height: 85%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.gallery::-webkit-scrollbar {
    width: 0;
}

.gallery-image {
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 16/9;
    width: 90%;
}

.gallery-image-container {
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 17px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.gallery-content {
    width: 90%;
    text-align: center;
    font-family: KGBrokenVesselsSketch;
    font-size: 18px;
    line-height: 25px;
}

.gallery-content-inner {
    font-size: 15px;
    line-height: 15px;
}

.back-button {
    font-family: KGBrokenVesselsSketch;
    background: none;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 10px 3px 15px;
    border-radius: 30px 0px 0px 30px;
}

.gallery-image-container-active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: 85%;
}

.gallery-image-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: url('../../assets/gallery-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-image-bg-active{
    display: block;
}


.gallery-image-container-active .gallery-image {
    display: none;
    transform: rotate(3deg);
    position: absolute;
    width: 50%;
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(102, 34, 0, 0.27);
}

.gallery-image-container-active .gallery-content {
    position: absolute;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    line-height: 35px;
}

.gallery-image-container-active .gallery-content-inner {
    font-size: 20px;
}


.inner-back {
    cursor: pointer;
    left: 9%;
    top: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(102, 34, 0, 0.1);
}

.inner-back svg {
    height: 20px;
    margin-right: 2px;
}

.left-button,
.right-button {
    position: absolute;
    cursor: pointer;
}

.left-button {
    top: 50%;
    transform: translateY(-50%);
    left: 14%;
}

.left-button svg {
    transform: rotate(180deg);
}

.right-button {
    top: 50%;
    transform: translateY(-50%);
    right: 14%;
}

.gallery-inner-image {
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 16/9;
    width: 50%;
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(102, 34, 0, 0.27);
    top: 150%;
    z-index: 99;
    transition: .5s;
}

.gallery-inner-image-show {
    top: 50%;
}

.right-pad {
    width: 76.34px;
}

.gallery-loading {
    width: 100%;
    height: 100%;
    font-family: KGBrokenVesselsSketch;
    font-size: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    animation-name: load;
    animation-duration: 2s;
    color: #3296ff;
}

.load{
    width: 100px;
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .gallery-header {
        height: 10%;
    }
    .gallery {
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 90%;
        box-sizing: border-box;
    }
    .gallery-image-container {
        width: 100%;
    }   
    .gallery-image-container-active {
        border-radius: 30px;
        width: 90%;
    }
    .gallery-inner-image-show {
        top: 40%;
    }
    .gallery-inner-image {
        width: 70%;
    }
    .left-button,.right-button {
        bottom: 20%;
        left: auto;
        top: auto;
        transform: none;
        transform: translateX(-120%);
    }
    .right-button{
        right: auto;
        transform: translateX(120%);
    }
}
@media screen and (max-width:767px){
    .gallery-word{
        font-size: 25px;
    }
    .gallery-header {
        height: 10%;
    }
    .gallery {
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 90%;
        box-sizing: border-box;
    }
    .gallery-image-container:last-child{
        margin-bottom: 50px;
    }
    .gallery-inner-image-show {
        top: 40%;
    }
    .gallery-inner-image {
        width: 70%;
        border-radius: 15px;
    }
    .left-button,.right-button {
        bottom: 20%;
        left: auto;
        top: auto;
        transform: none;
        transform: translateX(-120%);
    }
    .right-button{
        right: auto;
        transform: translateX(120%);
    }
    .gallery-image-container-active .gallery-content{
        font-size: 18px;
    }
    .inner-back {
        left: 10%;
        width: 40px;
        height: 40px;
    }
}
