.video-4 {
    top: 60%;
    margin-left: 280%;
    width: 50%;
    height: 86%;
    border-radius: 40px;
    transform: rotate(15deg);
    transition: 1.5s;
}


.video-4-s4 {
    top: 7%;
    margin-left: 44%;
    transform: rotate(0deg);
}

.video-4-s5 {
    transform: rotate(-15deg);
    top: 45%;
    margin-left: -270%;
}


.video-4-s6 {
    display: none;
}

.section-4 {
    overflow: hidden;
    width: 40%;
    height: 85%;
    position: fixed;
    left: 120%;
    top: 50%;
    transition: 1.5s;
    transform: rotate(15deg);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.section-4-s4 {
    transform: rotate(0);
    left: 5%;
    top: 10%;
}

.section-4-s5 {
    transform: rotate(-15deg);
    top: 60%;
    margin-left: -280%;
}

.section-4-s6 {
    display: none;
}

.section-4-inner {
    position: relative;
    min-width: 80%;
    max-width: 80%;
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.section-4-title {
    font-family: 'WorkSans-Regular';
    font-size: 18px;
    color: #FF5811;
    border: 1px solid #FF5811;
    padding: 8px 20px;
    border-radius: 20px;
}

.section-4-head {
    font-family: 'WorkSans-ExtraBold';
    font-size: 60px;
    background: linear-gradient(93deg, #11B8FF 1.24%, #649CA4 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4-text {
    min-width: 100%;
    font-size: 20px;
    line-height: 27px;
    font-family: 'WorkSans-Medium';
}

.section-4-age-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-4-age-group {
    font-family: 'WorkSans-SemiBold';
    background: linear-gradient(93deg, #54A700 1.24%, #4DBE25 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4-age {
    font-family: 'WorkSans-Medium';
    background: linear-gradient(93deg, #2BA20D 1.24%, #3CC249 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4-button {
    cursor: pointer;
    font-family: 'WorkSans-ExtraBold';
    color: #3277DF;
    padding: 7px 30px;
    font-size: 22px;
    border: 3.828px solid #000;
    background: #FFF;
    box-shadow: 6px 6px 0px 0px #000;
    transition: .1s;
    cursor: pointer;
    margin: 0px 12px 12px 0px;
}

.section-4-button:hover {
    box-shadow: 0px 0px 0px 0px #000;
    margin: 6px 6px 6px 6px;
}

.section-4-button:hover {
    box-shadow: 0px 0px 0px 0px #000;
    margin: 12px 0px 0px 12px;
}

#section-4-arrow {
    position: absolute;
    right: -100px;
    top: -20px;
    width: 160px;
    transition: .5s;
    transform: rotateZ(15deg);
}

.section-4-button:hover+#section-4-arrow {
    top: calc(100% - 90px);
    right: calc(100% - 280px);
    transform: rotateX(180deg) rotateZ(30deg);
}

@media screen and (max-width:1023px) {
    .video-4 {
        width: 80%;
        height: 40%;
    }

    .video-4-s4 {
        top: 15%;
        margin-left: 0px;
    }

    .section-4 {
        width: 80%;
        height: fit-content;
        top: 100%;
        left: 120%;
    }

    .section-4-s4 {
        left: 10%;
        top: 60%;
    }

    .section-4-s5 {
        top: 100%;
        left: -120%;
        margin-left: 0px;
    }

    .section-4-inner {
        max-width: 100%;
        min-width: 100%;
    }

    #section-4-arrow {
        right: -10px;
    }
}

@media screen and (max-width:767px) {}