.video-4 {
    top: 60%;
    margin-left: 280%;
    width: 45%;
    height: 70%;
    border-radius: 40px;
    transform: rotate(15deg);
    transition: 1.5s;
}


.video-4-s4 {
    top: 10%;
    margin-left: 45%;
    transform: rotate(0deg);
}

.video-4-s5 {
    transform: rotate(-15deg);
    top: 45%;
    margin-left: -270%;
}


.video-4-s6 {
    display: none;
}

.section-4 {
    overflow: hidden;
    width: 40%;
    height: 65%;
    position: fixed;
    left: 120%;
    top: 50%;
    transition: 1.5s;
    transform: rotate(15deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-s4 {
    transform: rotate(0);
    left: 5%;
    top: 10%;
}

.section-4-s5 {
    transform: rotate(-15deg);
    top: 60%;
    margin-left: -280%;
}

.section-4-s6 {
    display: none;
}

.section-4-inner {
    min-width: 80%;
    max-width: 80%;
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.section-4-title {
    font-family: 'WorkSans-Regular';
    font-size: 18px;
    color: #FF5811;
    border: 1px solid #FF5811;
    padding: 8px 20px;
    border-radius: 20px;
}

.section-4-head {
    font-family: 'WorkSans-ExtraBold';
    font-size: 60px;
    background: linear-gradient(93deg, #11B8FF 1.24%, #649CA4 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4-text {
    min-width: 100%;
    font-size: 20px;
    line-height: 27px;
    font-family: 'WorkSans-Medium';
}

.section-4-age-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-4-age-group {
    font-family: 'WorkSans-SemiBold';
    background: linear-gradient(93deg, #54A700 1.24%, #4DBE25 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-4-age {
    font-family: 'WorkSans-Medium';
    background: linear-gradient(93deg, #2BA20D 1.24%, #3CC249 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}