.section-1 {
    position: fixed;
    /* top: 150%; */
    bottom: -60%;
    width: 100%;
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58%;
    gap: 8%;
    /* background-color: #24FF11; */
}

.section-1-active {
    bottom: 0;
}

.section-1-wu {
    margin-top: 10px;
    font-family: 'WorkSans-Bold';
    font-size: 40px;
    background: linear-gradient(93deg, #1170FF 1.24%, #5599E9 40.18%, #5178FF 99.32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1-l1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1-l11 {
    width: 25%;
    box-shadow: 0px 4px 141.4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.section-1-l2 {
    width: 80%;
    /* height: 28%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1-l21 {
    width: 47%;
    height: 100%;
    box-shadow: 0px 4px 141.4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.container-head-1 {
    font-family: 'WorkSans-Bold';
    font-size: 21px;
    background: linear-gradient(93deg, #11FF9B 1.24%, #73FF71 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-head-2 {
    font-family: 'WorkSans-Bold';
    font-size: 21px;
    background: linear-gradient(93deg, #24FF11 1.24%, #50FF13 1.25%, #71FF76 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-head-3 {
    font-family: 'WorkSans-Bold';
    font-size: 21px;
    background: linear-gradient(93deg, #FFBC11 1.24%, #FF8271 96.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-head-4 {
    font-family: 'WorkSans-Bold';
    font-size: 21px;
    background: linear-gradient(93deg, #11A9FF 1.24%, #FF7171 70.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-text {
    font-family: 'WorkSans-Medium';
    font-size: 12.5px;
    text-align: center;
    color: #383838;
}