.video-0-hide {
    display: none;
}

.section-0 {
    position: fixed;
    top: 5%;
    left: 50px;
    transition: 1.5s;
    opacity: 0;
}

.section-0-active {
    top: 17%;
    opacity: 1;
}

#section-0-t1 {
    font-size: 60px;
    color: white;
    font-family: "NotoSans-Black";
}

#section-0-t2 {
    margin-top: 12px;
    font-size: 40px;
    color: white;
    font-family: "KGBrokenVesselsSketch";
}

.video-1 {
    transition: 1.5s;
    top: 0%;
    border-radius: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.video-1-s-1 .video-inner-2 {
    opacity: 0;
}

.video-1-s-1 .video-inner-3 {
    opacity: 0;
}

.video-1-s0 .video-inner-3 {
    opacity: 0;
}

.video-1-s0 .video-inner-2 {
    opacity: 0;
}

.video-1-s1 .video-inner-3 {
    opacity: 0;
}

.video-1-s1 .video-inner-2 {
    opacity: 0;
}

.video-inner-0 {
    grid-row: 1/1;
    grid-column: 1/1;
    transition: 1s;
}

.video-1-s1 .video-inner-0 {
    opacity: 0;
}

.video-1-s2 .video-inner-0 {
    opacity: 0;
}

.video-1-s3 .video-inner-0 {
    opacity: 0;
}



.video-inner-1 {
    grid-row: 1/1;
    grid-column: 1/1;
    transition: 1s;
}

.video-1-s2 .video-inner-1 {
    opacity: 0;
}

.video-1-s3 .video-inner-1 {
    opacity: 0;
}

.video-inner-2 {
    grid-row: 1/1;
    grid-column: 1/1;
    transition: 1s;
}

.video-1-s3 .video-inner-2 {
    opacity: 0;
}

.video-inner-3 {
    grid-row: 1/1;
    grid-column: 1/1;
}

.video-1-s1 {
    top: 18%;
    width: 93dvh;
    height: 37%;
    border-radius: 200px;
}

.video-1-s2 {
    top: 22%;
    margin-left: 45%;
    width: 45%;
    height: 70%;
    border-radius: 40px;
}

.video-1-s3 {
    top: 7%;
    margin-left: -42%;
    width: 50%;
    height: 86%;
    border-radius: 40px;
    transform: rotate(0deg);
}

.video-1-s4 {
    transform: rotate(-15deg);
    top: 60%;
    margin-left: -280%;
    width: 45%;
    height: 70%;
    border-radius: 40px;
}

.video-1-s5,
.video-1-s6 {
    display: none;
}

.know-more {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    opacity: 0;
    bottom: 5%;
    transition: 1s;
}

.km-0 {
    opacity: 1;
}

.know-more p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
}

.know-more svg {
    color: white;
    animation-name: arrow-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 17px;
}

@keyframes arrow-animation {
    0% {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    50% {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    100% {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

.loading {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    gap: 20px;
    flex-direction: column;
}

.loading-hide {
    opacity: 0;
}

.progress {
    width: 20%;
    height: 20px;
    background-color: white;
    box-shadow: 0px 4px 40px 0px #5599E9;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progress-inner {
    height: 50%;
    width: 0%;
    background: linear-gradient(93deg, #1170FF 1.24%, #5599E9 40.18%, #5178FF 99.32%);
    transition: 1s;
    margin-left: 2%;
    border-radius: 20px;
}

.progress-0 {
    width: 0%;
}

.progress-1 {
    width: calc(96% / 3);
}

.progress-2 {
    width: calc(96% / 2);
}

.progress-3 {
    width: calc(96% / 1);
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .section-0-active {
        top: 14%;
    }

    .section-0 {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        height: 85%;
    }

    .video-1-s1 {
        top: 16%;
        width: 60vh;
        height: 25%;
    }
    .video-1-s2 {
        top: 15%;
        width: 80%;
        height: 40%;
        margin-left: 0px;
    }
    .video-1-s3 {
        top: 15%;
        width: 80%;
        height: 40%;
        margin-left: 0px;
    }
    .video-1-s4 {
        width: 80%;
        height: 40%;
    }
}

@media screen and (max-width:767px) {}