*{margin: 0;}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

#root{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "NotoSans-Black";
  src: local("NotoSans-Black"),
      /* url(./fonts/NotoSans-Black.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KGBrokenVesselsSketch";
  src: local("KGBrokenVesselsSketch"),
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Black";
  src: local("WorkSans-Black"),
      /* url(./fonts/WorkSans-Black.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: local("WorkSans-Medium"),
      /* url(./fonts/WorkSans-Medium.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: local("WorkSans-SemiBold"),
      /* url(./fonts/WorkSans-SemiBold.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Bold";
  src: local("WorkSans-Bold"),
      /* url(./fonts/WorkSans-Bold.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-ExtraBold";
  src: local("WorkSans-ExtraBold"),
      /* url(./fonts/WorkSans-ExtraBold.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"),
      /* url(./fonts/WorkSans-Regular.ttf) format("truetype"); */
      url(./fonts/KGBrokenVesselsSketch.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}