
.nav {
    padding: 0px 25px;
    border-radius: 230px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    right: 5%;
    transition: 1.5s;

    &::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: 0;
		top: 0;
		width: 0%;
		height: 100%;
		background-color: black;
	}

    &::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 1px;
		top: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background: white;
		border-radius: 230px;
	}
}

@keyframes rotate {
	0%{
		width: 0%;
	}
	50%{
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0%;
	}
}

.animate-nav {
	&::before {
		animation: rotate 2s ease;
	}
}



.nav-s-1 {
    top: 0%;
    opacity: 0;
}

.nav-s0 {
	&::before {
		background: linear-gradient(93deg, #FF7A00 1.24%, #FFB72C 70.25%);	
	}
    top: 6%;
    opacity: 1;
}

.nav-s1 {
	&::before {
		background: linear-gradient(93deg, #1170FF 1.24%, #5599E9 40.18%, #5178FF 99.32%);
	}
    top: 6%;
}

.nav-s2 {
	&::before {
		background: linear-gradient(93deg, #FF7A00 1.24%, #FFB72C 70.25%);
	}
    top: 6%;
}

.nav-s3 {
	&::before {
		background: linear-gradient(93deg, #1170FF 1.24%, #5599E9 40.18%, #5178FF 99.32%);
	}
    top: 6%;
}

.nav-s4 {
	&::before {
		background: linear-gradient(93deg, #FF7A00 1.24%, #FFB72C 70.25%);
	}
    top: 6%;
	right: 100%;
	transform: translateX(115%);
}

.nav-s5 {
	&::before {
		background: linear-gradient(93deg, #1170FF 1.24%, #5599E9 40.18%, #5178FF 99.32%);
	}
    top: 6%;
	right: 120%;
}

.nav-s6 {
	display: none;
}

.nav-logo {
    height: 40px;
    padding: 8px 0px;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-link {
	width: max-content;
    font-family: 'KGBrokenVesselsSketch';
    color: #576986;
	cursor: pointer;
}

.nav-links a{
	text-decoration: none;
}

@media screen and (max-width:1023px) {
	.nav-s4 {
		transform: translateX(110%);
	}
}

@media screen and (max-width:767px){
	.nav-logo {
		height: 30px;	
	}
	.nav {
		gap: 25px;
	}
	.nav-links {
		gap: 25px;
	}
	.nav-links a{
		font-size: 15px;
	}


	.nav-s0,.nav-s1,.nav-s2,.nav-s3,.nav-s4,.nav-s5,.nav-s6 {
		top: 5%;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
	}
}
